<div class='image-css'>
  <img src="../../assets/logo.svg" width="120px" height="150px">
</div>

<div class="equipment">
  <ul>
    <li>Home</li>
    <li>Equipment</li>
  </ul>
</div>

<div class="access-list">
  <h6 class="access-text">ACCESS</h6>
  <ul >
    <li>Time and Attendance</li>
    <li>Group Management</li>
    <li>Credential</li>
    <li>User Schedules</li>
    <li>Site Management</li>
    <li>Integration</li>
    <li>Administration</li>
  </ul>
</div>

<div class="user">
  <img src="../../assets/profile.jpg" width="20%" height="13%">

  <div style="width: 6rem; padding-left:12px ;font-size:14px" >
   <b>Sindhu</b><p class="caption">Engineer</p>
  </div>
</div>

<div class="copy-text">
  ©EnLite Research 2018
</div>
