<div>
  <div class="row header-css">
  <div class="info">
    <div class="building-css">
      BUILDING
      <h3 class="text-secondary">{{data.default.buildingName}}</h3>
    </div>

    <div>
      Floor
      <h3 class="text-secondary">{{data.default.Floor}}</h3>
    </div>
    <div>
      <img src ="../../assets/group-4.svg" width="36px" height="27px"><br>
      <p class="m-0 ">{{defaultData.temp.value | dataConvertion}} &#8451;</p>
      <p class="info-header">{{defaultData.temp.quality.value}}</p>
    </div>

    <div>
      <img src ="../../assets/group-4 (1).svg" width="36px" height="27px"><br>
      <p class="m-0 ">{{defaultData.ambient.value| dataConvertion}} % </p>
      <p class="info-header">{{defaultData.ambient.quality.value}}</p>
    </div>

    <div>
      <img src ="../../assets/group-4 (2).svg" width="36px" height="27px"><br>
      <p class="m-0 ">{{defaultData.sound.value| dataConvertion}} db </p>
      <p class="info-header">{{defaultData.sound.quality.value}}</p>

    </div>

    <div>
      <img src ="../../assets/group-4 (3).svg" width="36px" height="27px"><br>
      <p class="m-0 ">{{defaultData.airQuality.value| dataConvertion}} ppm</p>
      <p class="info-header">{{defaultData.airQuality.quality.value}}</p>

    </div>
    <div>
      <img src ="../../assets/group-4 (4).svg" width="58px" height="27px"><br>
      <p class="m-0 ">{{defaultData.co2.value| dataConvertion}} ppb</p>
      <p class="info-header">{{defaultData.co2.quality.value}}</p>

    </div>
    <div >
      <img src ="../../assets/group-4 (5).svg" width="36px" height="27px"><br>
      <p class="m-0 ">{{defaultData.rh.value| dataConvertion}} lux </p>
      <p class="info-header">{{defaultData.rh.quality.value}}</p>

    </div>
  </div>


  <div class="info">
    <div class="zones" *ngFor="let item of data.default.zones" (click) ="getData(0)">
      Zone 1
      <p>{{item.comfortValue}}</p>
    </div>
    <div class="zones">
      Zone 3
      <p>45</p>
    </div>
    <div class="zones">
      Zone 4
      <p>45</p>
    </div>
    <div class="zones">
      Zone 5
      <p>45</p>
    </div>

  </div>

</div>



  <div class="row">
    <div class="col col-8 status-chart">
    <div>
      <div class="circle">
        <p class="rotate">
          <img src ="../../assets/group-4 (3).svg"><br>
          <span>&nbsp;{{defaultData.temp.value |dataConvertion}}</span>
        </p>
      </div>
      <h6> Air Quality Index </h6>
      <p class="info-header">{{defaultData.temp.quality.value}}</p>
    </div>

    <div>
      <div class="circle">
        <p class="rotate">
          <img src ="../../assets/group-4 (4).svg"><br>
          <span>{{defaultData.co2.value |dataConvertion}}</span>
        </p>
        </div>
      <h6> Carbon Dioxide </h6>
      <p class="info-header">{{defaultData.co2.quality.value}}</p>
    </div>


 <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4.svg"><br>
        <span>&nbsp; {{defaultData.tvoc.value |dataConvertion}}</span>

      </p>
    </div>
      <h6> TVOC </h6>
      <p class="info-header">{{defaultData.tvoc.quality.value}}</p>
    </div>


  <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4.svg"><br>
        <span>&nbsp; {{defaultData.airQuality.value |dataConvertion}}</span>

      </p>
    </div>
      <h6>PM 2.5</h6>
      <p class="info-header">{{defaultData.airQuality.quality.value}}</p>
    </div>

     <div class="card" style="width: 15rem; height:13rem">
    <div>
      <h6 class="text-secondary p-1">Comfort</h6>
      <div class= "d-flex">
        <!-- <img src ="../../assets/group-4 (3).svg">
        <p class="alert">Air Quality is moderate and sensitive individuals may experience respiratory symptoms</p>
      </div>
      <div class= "d-flex">
      <img src ="../../assets/group-4.svg">
      <p class="alert">Temp is high. Looks like we need to tweak AC temprature</p> -->
</div>
    </div>
  </div>


  <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4.svg"><br>
        <span>&nbsp; {{defaultData.temp.value |dataConvertion}}</span>

      </p></div>
      <h6> Temprature </h6>
      <p class="info-header">{{defaultData.temp.quality.value}}</p>
    </div>


 <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4 (1).svg"><br>
        <span>&nbsp; {{defaultData.rh.value |dataConvertion}}</span>

      </p></div>
      <h6> Humidity </h6>
      <p class="info-header">{{defaultData.rh.quality.value}}</p>
    </div>


  <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4 (2).svg"><br>
        <span> &nbsp; {{defaultData.sound.value |dataConvertion}}</span>

      </p>
    </div>
      <h6>Noise</h6>
      <p class="info-header">{{defaultData.sound.quality.value}}</p>
    </div>


  <div>
      <div class="circle"><p class="rotate">
        <img src ="../../assets/group-4 (5).svg"><br>
        <span> &nbsp; {{defaultData.ambient.value |dataConvertion}}</span>

      </p></div>
      <h6> Illuminance </h6>
      <p class="info-header">{{defaultData.ambient.quality.value}}</p>
    </div>



    <div class="card pl-3" style="width: 15rem; height:13rem">
      <div>
        <h6 class="text-secondary p-1">Alerts</h6>
        <div class= "d-flex">
          <img src ="../../assets/group-4 (3).svg">
          <p class="alert">Air Quality is moderate and sensitive individuals may experience respiratory symptoms</p>
        </div>
        <div class= "d-flex">
        <img src ="../../assets/group-4.svg">
        <p class="alert">Temp is high. Looks like we need to tweak AC temprature</p>
  </div>
      </div>

</div>
</div>
</div>
